<<<<<<< HEAD
.sayda{
   font-size: bol;
}
.sayda h1{
    font-size: 22px;
    font-family: cursive;
}
.sayda li{
  font-size: 20px  
    }
.sayda img{
    border: 5px solid black;
}
.maribel h1{
    color:darkcyan;
}
=======
.grace h1 {
  font-weight:40px;
    color:darkcyan;
    font-family: monospace;
}
.grace h2, h3 {
    color: chocolate;
}
.graceimg{
    text-align: center;
    border-color: darkcyan;
    margin: auto;
    border-style: dashed;
}
.gimg1 , .gimg2, .gimg3 {
    text-align: center;
}
.grace{
    background-color: aquamarine;
    font-size: 14px;  
}

.maribel h1{
    color:darkcyan;
}

>>>>>>> 2ac3af0853db648bac9787ddaecf255ab4d08f48
