#container{
    background-color: #9999ff;    
}
#header{
    background-color: #ff66ff;   
    padding-bottom: 3px;
    text-align: center;
}
#menu{
    float: left;
    background-color: #9999ff;
    width: 10%;
}
#content{
    float: left;
    background-color: #00ccff;
    width: 90%;
    text-align: justify;
}
#footer{
    clear: both;
    background-color: #ff6666;
    text-align: center;
}

.menuItem{
    cursor: pointer;
}